body{
    background: #ffff;
}
/*style du header et de tout ce qu'il contient*/
header{
    background-image: url(../img/fond\ header.png);
}
/*style de la nav*/
nav ul {
    display: flex;
    list-style: none;
    font-size: 15px;
}
nav ul li{
    padding: 0 10px;
}
nav ul li a{
    color: #3d2514;
    text-decoration: none;
}
h1{
    color: #3d2514;
}
.slogan{
    border: dotted black 2px;
    width: 65%;
}
/*style du footer*/
footer{
    background-image: url(../img/burger\ group\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;
    width: 100%;
}
footer p{
    text-align: left;
    width: 30%;
}
.b1{
    background: #ffc657;
}
.b2{
    background: #bf2222;
}
/*responsive*/
@media (max-width:1024px) {
    header{
        background-image: url(../img/fond\ header.png);
    }
}